In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
df = pd.read_csv('data/co2.csv')

In [8]:
df.head(12)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.165,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.163,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5,Afghanistan,1855,AFG,3835192.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
6,Afghanistan,1856,AFG,3852417.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
7,Afghanistan,1857,AFG,3869714.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
8,Afghanistan,1858,AFG,3887081.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
9,Afghanistan,1859,AFG,3904521.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.161,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
10,Afghanistan,1860,AFG,3922032.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
11,Afghanistan,1861,AFG,3939616.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN