In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('data/energy.csv')
df.head()
df.tail()

         Entity Code  Year  Annual change in primary energy consumption (%)
12112  Zimbabwe  ZWE  2017                                        -2.984351
12113  Zimbabwe  ZWE  2018                                        14.479410
12114  Zimbabwe  ZWE  2019                                       -10.981565
12115  Zimbabwe  ZWE  2020                                        -8.940124
12116  Zimbabwe  ZWE  2021                                         0.353909